{% extends 'base.html' %}

{% block title %}Hello{% endblock %}
{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'product_create' %}">Создать новый <span class="sr-only">(current)</span></a>
      </li>
{% endblock %}
{% block content %}
    <h1>Магазин</h1>
    {% for product in products %}
        <h5><a href="{% url 'view' product.pk %}">{{ product.name }}</a></h5>
        <p>Цена: {{ product.price }}</p>
        <p>Категория: {{ product.get_category_display }}</p>
        <br>
    {% endfor %}
{% endblock %}