{% extends 'base.html' %}

{% block title %}Hello{% endblock %}
{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'product_create' %}">Создать новый <span class="sr-only">(current)</span></a>
      </li>
{% endblock %}
{% block content %}
<form action="/filter_name?name" method="GET">
  <div class="form-group row mt-2">
    <label for="colFormLabelSm" class="col-sm-1 col-form-label col-form-label-sm">Поиск</label>
    <div class="col-sm-4">
      <input type="text" name="name" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Введите название">
    </div>
      <div class="form-group row">
    <div class="col-sm-2">
      <button type="submit" class="btn btn-primary btn-sm">Поиск</button>
    </div>
  </div>
  </div>
</form>


    <div class="row">
    {% for product in products %}
        <div class="col-1,col-sm-3,col-md-3 p-3">
        <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><a href="{% url 'view' product.pk %}">{{ product.name }}</a></div>
        <div class="card-body">
        <p class="card-title">Цена: {{ product.price }}</p>
        <p class="card-text">Категория: {{ product.get_category_display }}.</p>
        <a class="btn btn-primary" href="{% url 'product_update' product.pk %}" role="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                <path fill-rule="evenodd"
                      d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
            </svg> Редак.
        </a>
            <a class="btn btn-primary" href="{% url 'product_delete' product.pk %}" role="button"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                <path fill-rule="evenodd"
                      d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
            </svg> Удалить
        </a>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}