{% extends 'base.html' %}

{% block title %}Редактирование Товара{% endblock %}
{% block content %}
    <div class="col-6">
        <form action="{% url 'product_update' product.pk %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {% include 'partial/product_form.html' with form=field %}
            {% endfor %}
            {#    {% include 'partial/article_form.html' with form=form.name %}#}
            {#    {% include 'partial/article_form.html' with form=form.description %}#}
            {#    {% include 'partial/article_form.html' with form=form.status %}#}
            {#    {% include 'partial/article_form.html' with form=form.create_at %}#}
            <input type="submit" value="Сохранить изменение">
        </form>
    </div>
{% endblock %}